<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./css/style.css">
   <script src="./js/main.js" defer></script>
   <title>Document</title>
</head>
<body>

   <div id="textOne"><h1 data-text="Yurtimiz va jahon hayotiga oid yangiliklar.">Yurtimiz va jahon hayotiga oid yangiliklar.</h1></div>
   <div id="textTwo"><h1 data-text="Foydalanuvchilar haqida ma'lumot.">Foydalanuvchilar haqida ma'lumot.</h1></div>
   
   <div class="div">
      <span></span>
      <span></span>
      <span></span>
      <div id="content">
         <a href="./Employers.ejs">Employers</a>
      </div>
   </div>
   <div class="div">
      <span></span>
      <span></span>
      <span></span>
      <div id="content">
         <a href="./News.ejs">News</a>
      </div>
  </div>
   
</body>
</html>